.app_container {
    height: 100%;
    .home_container {
        position: relative;
        height: 100%;
        padding-top: 45px;
        .container_main {
            height: 100%;
            text-align: center;
        }
    }
    .hoverball {
        position: fixed;
        left: 15px;
        bottom: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px #c3c3c3;
        background: #ffffff;
        cursor: pointer;
        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            font-size: 22px;
            color: rgb(132, 128, 128);
        }
    }
}
